@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1 {
    font-family: 'Montserrat';
    font-weight: 300px;
    padding: 10px;
}
h2 {
    font-family: 'Montserrat';
    padding: 15px;
}
h3 {
    font-family: 'Montserrat';
    padding: 15px;
}
h4 {
    font-family: 'Montserrat';
    padding: 15px;
}
p {
    font-family: 'Montserrat';
    padding: 15px;
    max-width: 70ch;
}
a {
    font-family: 'Montserrat';
}
footer p {
    max-width: 70ch;
}
th, td {
    font-family: 'Montserrat';
  }

